{% extends "trading/layout.html" %}

{% block title %}Change Password - Trading{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Change Password</h2>

    
  
    {% if form.field_errors %}
      <div class="alert alert-danger">
        {% for error in form.field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
    
    <div class="container shadow-sm p-4 mx-auto" style="max-width: 70%">
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
      </form>
    </div>
</div>  
{% endblock %}